html {
	margin:2px;
	padding:2px;
	background: #ffb6c1;
}
body {
    padding-top: 10px;
    background-color: #FFB6C1;
    color: #191970;
	font-family: "Gill Sans Extrabold", sans-serif;
}
h2{
    text-transform: uppercase;
}
p{
    text-indent: 50px;}

header{
    width: 100%;
}

header h1{ 
	font-family:"Big Caslon",serif;
    background-color: #CDC8B1;
    background-image: url(blue.png);
    color: #000000;
    border: 2px solid;
    text-align: center;
    position: relative;
	
}
nav a{
    text-decoration: none;
    display: block;
    color: #0000ff;
}
nav ul{
    float: left;
    width: 20;
    margin-right: 20;
}

main{
    float: right;
    margin-left: 10px;
	width:80%;
    text-align:inherit;
}

h2{
    background-color:#6495ED;
	color: #000000;
	font-family:"Book Antiqua",serif;
}

#content{
    background-image: linear-gradient(to bottom,#ffffff, #da70d6);
    color:#B0171F;
}

ol{
    list-style-type: decimal-leading-zero
}

.Hey{
    color:#1E90FF;
}
footer{
    clear:both !important;
    text-align: center;
    font-size: 15px;
	width:940px;
	height: 100px;
	padding: 10px;

}