body {background-color: #E6E6FA;
    color: #191970;}


h1{background-color: #1E90FF;
    color: #000000;}
h2{background-color:#6495ED;
color: #000000
}

#content{color:#B0171F;}


.Hey{color:#1E90FF;}
